<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>svg icon</title>
<style>
	.icon {
		fill: black;
		width: 32px;
		height: 32px;
	}
</style>
</head>
   <body>
     <div style="height: 0; width: 0; position: absolute; visibility: hidden">
      <!-- inject:svg --><!-- endinject -->
      </div>
      <svg class="icon">
         <use xlink:href="#film"></use>
      </svg>
      <svg class="icon">
         <use xlink:href="#home"></use>
      </svg>
      <svg class="icon">
         <use xlink:href="#IcoMoon"></use>
      </svg>
      <svg class="icon">
         <use xlink:href="#play"></use>
      </svg>
      <svg class="icon">
         <use xlink:href="#quill"></use>
      </svg>
      <svg class="icon">
         <use xlink:href="#svg"></use>
      </svg>
      <svg class="icon">
         <use xlink:href="#ticket"></use>
      </svg>
   </body>
</html>





