.film {
  width: 32px;
  height: 32px;
}

.home {
  width: 32px;
  height: 32px;
}

.IcoMoon {
  width: 32px;
  height: 32px;
}

.play {
  width: 32px;
  height: 32px;
}

.quill {
  width: 32px;
  height: 32px;
}

.svg {
  width: 32px;
  height: 32px;
}

